 .product-item {
  display: flex;
  align-items: center;
  padding: .5rem;
  width: 100%;
}
  img {
      width: 75px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin-right: 1rem;
  }

  .product-list-detail {
      flex: 1 1 0;
  }

  .product-list-action {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }

  .product-category-icon {
      vertical-align: middle;
      margin-right: .5rem;
  }

  .product-category {
      vertical-align: middle;
      line-height: 1;
  }


@media screen and (max-width: 576px) {
  .product-item {
      flex-wrap: wrap;
  }
      .image-container {
          width: 100%;
          text-align: center;
      }

      img {
          margin: 0 0 1rem 0;
          width: 100px;
      }
  }
 




.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 80%;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }
  .pricingTable-firstTable_table__getstart {
    color: white;
    border: 0;
    background-color: #71ce73;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    box-shadow: 0px 3px 0px 0px rgba(102, 172, 100, 1);
    letter-spacing: 0.07em;
    transition: all 0.4s ease;
    margin:50px 15px 55px 15px;
    /* border-radius:20px; */
    /* padding:.65em 1.6em; */
 }
 @media screen and (max-width: 1068px) {
    .pricingTable-firstTable_table__getstart {
      font-size: 0.95em;
   }
 }
  @media screen and (max-width: 767px) {
    .pricingTable-firstTable_table__getstart {
      margin-top: 0;
   }
 }
  @media screen and (max-width: 610px) {
    .pricingTable-firstTable_table__getstart {
      font-size: 0.9em;
      padding: 10px;
   }
 }
  @media screen and (max-width: 480px) {
    .pricingTable-firstTable_table__getstart {
      font-size: 1em;
      width: 50%;
      margin: 10px auto;
   }
 }
  .pricingTable-firstTable_table__getstart:hover {
    transform: translateY(-10px);
    box-shadow: 0px 40px 29px -19px rgba(102, 172, 100, 0.9);
 }
  @media screen and (max-width: 767px) {
    .pricingTable-firstTable_table__getstart:hover {
      transform: none;
      box-shadow: none;
   }
 }
  .pricingTable-firstTable_table__getstart:active {
    box-shadow: inset 0 0 10px 1px rgba(102, 165, 100, 1), 0px 40px 29px -19px rgba(102, 172, 100, 0.95);
    transform: scale(0.95) translateY(-9px);
 }
  @media screen and (max-width: 767px) {
    .pricingTable-firstTable_table__getstart:active {
      transform: scale(0.95) translateY(0);
      box-shadow: none;
   }
 }

 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 html {
	 font-family: Arial;
	 font-size: 16px;
	 background: #5e42a6;
}
 .sidebar {
	 position: fixed;
	 width: 20%;
	 height: 100vh;
	 background: #312450;
	 font-size: 0.65em;
}
 .nav {
	 position: relative;
	 margin: 0 15%;
	 text-align: right;
	 top: 50%;
	 transform: translateY(-50%);
	 font-weight: bold;
}
 .nav ul {
	 list-style: none;
}
 .nav ul li {
	 position: relative;
	 margin: 3.2em 0;
}
 .nav ul li a {
	 line-height: 5em;
	 text-transform: uppercase;
	 text-decoration: none;
	 letter-spacing: 0.4em;
	 color: rgba(255, 255, 255, 0.35);
	 display: block;
	 transition: all ease-out 300ms;
}
 .nav ul li.active a {
	 color: white;
}
 .nav ul li:not(.active)::after {
	 opacity: 0.2;
}
 .nav ul li:not(.active):hover a {
	 color: rgba(255, 255, 255, 0.75);
}
 .nav ul li::after {
	 content: '';
	 position: absolute;
	 width: 100%;
	 height: 0.2em;
	 background: black;
	 left: 0;
	 bottom: 0;
	 background-image: linear-gradient(to right, #5e42a6, #b74e91);
}
 .twitter {
	 position: relative;
	 width: 75%;
	 float: right;
	 height: 100vh;
}
 .twitter .container {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 height: 100%;
}
 .twitter a {
	 position: relative;
}
 .twitter a img {
	 width: 48px;
	 height: 48px;
}
 .twitter p {
	 text-transform: uppercase;
	 font-size: 1em;
	 letter-spacing: 0.1em;
	 color: #fff;
	 font-weight: bold;
	 margin-top: 20px;
}
 
