
<div>
   <form [formGroup]="addproductForm">
       link:<input formControlName="link" id="link">
       <div style="font-size: 5;" *ngIf="addproductForm.controls['link'].errors?.['required']" >you forgot to put a link</div>
       <button [disabled]="addproductForm.invalid" (click)="add()">add</button> 
     </form>
     
<!-- <div *ngIf="loginForm.controls['name'].errors?.required" >this field is required</div> -->

    <!-- <li *ngFor="let product of products">
        productlink: <p>{{product.productlink}}</p>
        baseprice:  <p>{{product.baseprice}}</p>
        finalprice:  <p>{{product.finalprice}}</p>
  
       <button (click)="deletediv(product.id)">delete this product</button>
    </li> -->
</div>
    <div class="modal" id="myModal" >
        <div class="modal-content">
       <span class="close" (click)=close()>&times;</span>
       <p>are you sure you want to delete this item?</p>
       <button (click)="delete()">yes, I wanna delete it</button>
       <button (click)="close()">no, I dont want to</button>
    </div>
</div> 


<p-orderList  *ngIf="products" [value]="products" [listStyle]="{'max-height':'30rem'}" header="your Products" filterBy="baseprice" filterPlaceholder="Filter by price" [dragdrop]="true">
    link:<input formControlName="link" id="link">
    <ng-template let-product pTemplate="item">
        <div class="product-item">
            <div class="image-container">
                    <img src="../../../assets/AUSTR026.JPG" [alt]="product.name" class="product-image" />
            </div>
            <div class="product-list-detail">
                <!-- <h5 class="mb-2">{{product.productlink}}</h5> -->
                <a class="mb-2" href="{{product.productlink}}">{{product.description}}</a>
              
                <!-- <i class="pi pi-tag product-category-icon"></i> -->
                <!-- <span class="product-category">{{product.baseprice}}</span> -->
            </div>
            <div class="product-list-action">
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletediv(product.id)"></button>
                <!-- <button (click)="deletediv(product.id)">delete this product</button> -->
                <h6 class="mb-2">₪{{product.baseprice}}</h6>
                <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.baseprice}}</span> -->
            </div>
        </div>
    </ng-template>
</p-orderList>



<!-- <p-orderList *ngIf="products" [value]="products">
    <ng-template let-product pTemplate="item">
        <div class="product-item">
        <div>
            <img src="../../assets/AUSTR026.JPG" style="display:inline-block;margin:2px 0 2px 2px" width="48">
            <a style="font-size:14px;float:right;margin:18px 5px 0 0" href="{{product.productlink}}">{{product.description}}</a>
            <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{product.baseprice}} </div>

         

        </div>
        </div>
    </ng-template>
</p-orderList> -->