<main class="main">
    <aside class="sidebar">
        <nav class="nav">
            <ul>
                <li class="active"><a href="#">Welcome</a></li>
                <li><a>youre package is updated till:</a></li>
                <li><a>What We Do</a></li>
                <li><a>Get In Touch</a></li>


            </ul>
        </nav>
    </aside>

    <section class="twitter">
        <div>


            <div>
                <div>

                    <form [formGroup]="addproductForm">
                        insert link<input type="text" pInputText id="link" formControlName="link" autofocus />
                        <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success mr-2"
                            (click)="add()"></button>
                        <small class="p-error"
                            *ngIf="submitted && addproductForm.controls['link'].errors?.['required']">link is
                            required.</small>
                    </form>

                </div>
                <br>

                <p-toast></p-toast>

                <p-orderList *ngIf="products" [value]="products" [listStyle]="{'max-height':'30rem'}"
                    header="your Products" filterBy="baseprice" filterPlaceholder="Filter by price" [dragdrop]="true">

                    <ng-template let-product pTemplate="item">
                        <div class="product-item">
                            <div class="image-container">
                                <img src="../../../assets/AUSTR026.JPG" [alt]="product.name" class="product-image" />
                            </div>
                            <div class="product-list-detail">
                                <a class="mb-2" href="{{product.productlink}}">{{product.description}}</a>

                            </div>
                            <div>

                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="delete(product.id)"></button>
                            </div>
                            <div class="product-list-action">

                                <h6 class="mb-2">₪{{product.baseprice}}</h6>
                            </div>
                        </div>
                    </ng-template>
                </p-orderList>



                <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
            </div>
        </div>
    </section>
</main>
<p-toast></p-toast>



<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

