<!-- <p>costumerlogin works!</p> -->
<form [formGroup]="loginForm">
email:<input formControlName="email" id="email">

<div *ngIf="loginForm.hasError('required', ['email'])" >this field is required</div>
<div *ngIf="loginForm.hasError('email', ['email'])" > seems like you didnt put youre email:(</div>
<br>
<br>
<!-- &&(!signinbutton.click||!loginbutton.click) -->
pass:<input type="password" formControlName="password" id="pass">
<div  *ngIf="loginForm.controls['password'].errors?.['required']" >this field is required</div>
<div *ngIf="loginForm.hasError('minlength', ['password'])" > password isnt long enough</div>


</form>
<br>
<br>
 <button [disabled]="loginForm.invalid" (click)="signin()" #signinbutton  >sign in</button>
 <br>
 <br>
 <br>
 <button [disabled]="loginForm.invalid"   (click)="login()" #loginbutton>login</button>
 <p (click)="showbutton()">forgot your password?</p>
 <p *ngIf="forgotpass" >insert youre email address and check youre email for youre new password</p>
 <button  *ngIf="forgotpass" (click)="getnewpassword()" >get new password</button>
 <!-- <router-outlet></router-outlet> -->

 <!-- #taskNameModel="ngModel" -->

