<!-- <p>costumerlogin works!</p> -->
<form [formGroup]="loginForm">
email:<input formControlName="email" id="email">
<div style="font-size: 5;" *ngIf="loginForm.controls['password'].errors?.['required']" >this field is required</div>
<br>
<br>

pass:<input type="password" formControlName="password" id="pass">

<div style="font-size: 5;" *ngIf="loginForm.controls['password'].errors?.['required']" >this field is required</div>
</form>
<br>
<br>
 <button [disabled]="loginForm.invalid" (click)="signin()">sign in</button>
 <br>
 <br>
 <br>
 <button [disabled]="loginForm.invalid"   (click)="login()">login</button>
 <!-- <router-outlet></router-outlet> -->

 