<div *ngIf="buypackage">

  <!-- <table>
    <tr *ngFor="let package of packages">
      <td> {{package.productsamount}} </td>
      <td> {{package.price}} </td>
      <td> {{package.duration}} </td>
      <button (click)="makePayment(package.id)">buy me </button>
    </tr>
  </table> -->

  <div class="pricingTable">
    <h2 class="pricingTable-title">Find a plan that's right for you.</h2>
    <h3 class="pricingTable-subtitle">Every plan comes with a 30-day   free trial.</h3>
    
    <ul class="pricingTable-firstTable">
      <li class="pricingTable-firstTable_table" *ngFor="let package of packages">
        <h1 class="pricingTable-firstTable_table__header">Bronze Packege</h1>
        <p class="pricingTable-firstTable_table__pricing"><span>$</span><span>{{package.price}}</span><span></span></p>
        <ul class="pricingTable-firstTable_table__options">
          <li>{{package.duration}} days</li>
          <li>Edit Your Listing</li>
          <li>Approve Reviews</li>
        </ul>
        <button class="pricingTable-firstTable_table__getstart" (click)="makePayment(package.id)" >Buy Package</button>
      </li>
      <!-- <li class="pricingTable-firstTable_table">
        <h1 class="pricingTable-firstTable_table__header">Gold Packege</h1>
        <p class="pricingTable-firstTable_table__pricing"><span>$</span><span>19</span><span>Month</span></p>
        <ul class="pricingTable-firstTable_table__options">
          <li>Unlimited Listing</li>
          <li>Edit Your Listing</li>
          <li>Approve Reviews</li>
          <li>Take Booking Online</li>
          <li>24/7 Support Service</li>
        </ul>
        <button class="pricingTable-firstTable_table__getstart">Get Started Now</button>
      </li> -->
      <!-- <li class="pricingTable-firstTable_table">
        <h1 class="pricingTable-firstTable_table__header">Platinum Packege</h1>
        <p class="pricingTable-firstTable_table__pricing"><span>$</span><span>49</span><span>Month</span></p>
        <ul class="pricingTable-firstTable_table__options">
          <li>Unlimited Listing</li>
          <li>Edit Your Listing</li>
          <li>Approve Reviews</li>
        </ul>
        <button class="pricingTable-firstTable_table__getstart">Get Started Now</button>
      </li> -->
    </ul>
  </div>


  <div id="wrapper" *ngIf="payment">
    <div class="row">
      <div class="col-xs-5">
        <div id="cards">
          <img src="http://icons.iconarchive.com/icons/designbolts/credit-card-payment/256/Visa-icon.png">
          <img src="http://icons.iconarchive.com/icons/designbolts/credit-card-payment/256/Master-Card-icon.png">
        </div>
        <!--#cards end-->
        <div class="form-check">
          <label class="form-check-label" for='card'>
            <input id="card" class="form-check-input" type="checkbox" value="">
            Pay $150.00 with credit card
          </label>
        </div>
      </div>
      <!--col-xs-5 end-->
      <div class="col-xs-5">
        <div id="cards">
          <img src="http://icons.iconarchive.com/icons/designbolts/credit-card-payment/256/Paypal-icon.png">
        </div>
        <!--#cards end-->
        <div class="form-check">
          <label class="form-check-label" for='paypal'>
            <input id="paypal" class="form-check-input" type="checkbox" value="">
            Pay $150.00 with PayPal
          </label>
        </div>
      </div>
      <!--col-xs-5 end-->
    </div>
    <!--row end-->
    <div class="row">
      <div class="col-xs-5">
        <i class="fa fa fa-user"></i>
        <label for="cardholder">Cardholder's Name</label>
        <input type="text" id="cardholder">
      </div>
      <!--col-xs-5-->
      <div class="col-xs-5">
        <i class="fa fa-credit-card-alt"></i>
        <label for="cardnumber">Card Number</label>
        <input type="text" id="cardnumber">
      </div>
      <!--col-xs-5-->
    </div>
    <!--row end-->
    <div class="row row-three">
      <div class="col-xs-2">
        <i class="fa fa-calendar"></i>
        <label for="date">Valid thru</label>
        <input type="text" placeholder="MM/YY" id="date">
      </div>
      <!--col-xs-3-->
      <div class="col-xs-2">
        <i class="fa fa-lock"></i>
        <label for="date">CVV / CVC *</label>
        <input type="text">
      </div>
      <!--col-xs-3-->
      <div class="col-xs-5">
        <span class="small">* CVV or CVC is the card security code, unique three digits number on the back of your card
          seperate from its number.</span>
      </div>
      <!--col-xs-6 end-->
    </div>
    <!--row end-->
    <footer>
    <!-- //  <button class="pricingTable-firstTable_table__getstart" (click)="">Cancle</button> -->
     <button class="pricingTable-firstTable_table__getstart" (click)="canclePayment()" >cancle</button>
      <button  class="pricingTable-firstTable_table__getstart" (click)="buyPackage()">Buy Package</button>
     
    </footer>
  </div>
  <!--wrapper end-->