
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
          content="unique login form,leamug login form,boostrap login form,responsive login form,free css html login form,download login form">
    <meta name="author" content="leamug">
    <title>price tracker</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>

<div class="container" >
    <div class="row" *ngIf="!sub">
        <div class="col-md-offset-5 col-md-4 text-center">
            <h1 class='text-white'> price tracker</h1>
              <div class="form-login"><br>
                <h4> Login</h4>
                <br>
                <form [formGroup]="loginForm">
                <input type="text" id="name" formControlName="name" class="form-control input-sm chat-input" placeholder="username"/>
                <small  class="p-error" *ngIf="loginForm.hasError('required', ['name'])&&submitted">name is required.</small>
                <br><br>
                <input type="text" id="pass" formControlName="password" class="form-control input-sm chat-input" placeholder="password"/>
                <small  class="p-error" *ngIf="loginForm.hasError('required', ['password'])&&submitted">password is required.</small>
               </form>
                <br><br>
                <div class="wrapper">
                        <span class="group-btn">
                            <a  (click)="login()" class="btn btn-danger btn-md">login <i class="fa fa-sign-in"></i></a>
                        </span>
                        <span class="group-btn">
                           <a  (click)="signin_bool()" class="btn btn-danger btn-md">sighup<i class="fa fa-sign-in"></i></a>
                       </span>
                </div>
                <br>
                <a (click)="showbutton()" >forgot your password?</a>
            </div>
        </div>
    </div>
    
    <div class="row" *ngIf="sub">
      <div class="col-md-offset-5 col-md-4 text-center">
          <h1 class='text-white'>price tracker</h1>
            <div class="form-login"><br>
              <h4>sighup</h4>
              <br>
              <form [formGroup]="sighinForm">
              <input type="text" id="name" formControlName="name" class="form-control input-sm chat-input" placeholder="username"/>
              <small  class="p-error" *ngIf="sighinForm.hasError('required', ['name'])&&submitted">name is required.</small>
              <br><br>
              <input type="password" id="pass" formControlName="password" class="form-control input-sm chat-input" placeholder="password"/>
              <small  class="p-error" *ngIf="sighinForm.hasError('required', ['password'])&&submitted">password is required.</small>
              <small  class="p-error" *ngIf="sighinForm.hasError('minlength', ['password'])&&submitted">password is not long enough</small>
              <small  class="p-error" *ngIf="sighinForm.hasError('maxlength', ['password'])&&submitted">password is too long.</small>
              <br><br>
              <input type="text" id="companylink" formControlName="companylink" class="form-control input-sm chat-input" placeholder="company link"/>
              <small  class="p-error" *ngIf="sighinForm.hasError('required', ['companylink'])&&submitted">companylink is required.</small>
             </form>
              <br><br>
              <div class="wrapper">
                  <span class="group-btn">
                        <a  (click)="login_bool()" class="btn btn-danger btn-md">login <i class="fa fa-sign-in"></i></a>
                    </span>
                      <span class="group-btn">
                          <a  (click)="signin()" class="btn btn-danger btn-md">sighup <i class="fa fa-sign-in"></i></a>
                      </span>
                      
              </div>
          </div>
      </div>
  </div>
   
  <p-dialog header="entrer your email address" [(visible)]="forgotpass" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
  [draggable]="false" [resizable]="false">
  <form [formGroup]=" newpassForm">
  <input type="text" pInputText id="email" formControlName="email"  autofocus />
  <small  class="p-error" *ngIf="newpassForm.hasError('required', ['email'])&&submitted2">email is required</small>
  <small  class="p-error" *ngIf="newpassForm.hasError('email', ['email'])&&submitted2">seems like you didnt put youre email:(</small>

  <p> check youre email for youre new password</p>
 </form>
  <br>
      <ng-template pTemplate="footer">
      <p-button (click)=getnewpassword() label="sent new password" styleClass="p-button-text"></p-button>
      <p-button (click)=closedialog() label="close" styleClass="p-button-text"></p-button>
      </ng-template>
</p-dialog>
