
<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew(1)"></button>  

            <!-- <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->


        </ng-template>

        <!-- <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template> -->


    </p-toolbar>
<!-- [(selection)]="selectedProducts" -->

    <p-table #dt *ngIf="products" [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
         [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"> 


        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Products</h5> 


                 <!-- <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>  -->

                
             </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <!-- <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th> -->
                 <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                 <th>Image</th>
                 <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                 <th pSortableColumn="rating">description <p-sortIcon field="rating"></p-sortIcon></th>  
                 <th pSortableColumn="category">active <p-sortIcon field="category"></p-sortIcon></th>
                 <th pSortableColumn="link">link <p-sortIcon field="link"></p-sortIcon></th>
                 <!-- <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>  -->
                <th></th>
            </tr>
        </ng-template>


        <ng-template  pTemplate="body" let-product>
            <tr>
                <!-- <td>
                    <p-tableCheckbox [value]="products"></p-tableCheckbox>
                </td> -->
                <td>{{product.name}}</td>
                <td><img src="../../../assets/AUSTR026.JPG" [alt]="product.name" width="100" class="shadow-4" /></td>
                <!-- <td>{{product.price}}</td> -->
                <td>{{product.price | currency:'ILS'}}</td>
                <td>{{product.description}}</td>
                <td>{{product.active}}</td>
                <td>   <a class="mb-2" href="{{product.productlink}}">{{product.productlink}}</a></td>
                <!-- <td><span [class]="'product-badge status-' + 'OUTOFSTOCK'.toLowerCase">{{product.inventoryStatus}}</span></td> -->
                <!-- <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->


                <!-- <td><span [class]="'product-badge status-' + (product.active ? product.active.toLowerCase() : '')">{{product.active}}</span></td> -->
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="edit(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteSelectedProducts(product.id)"></button>
                </td>
            </tr>
        </ng-template> 

        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{products ? products.length : 0 }} products.    
           
            </div>
        </ng-template>
    </p-table>
</div>



<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid"   >
    <ng-template pTemplate="content">
        <!-- <img src="../../../assets/AUSTR026.JPG" *ngIf="companyproduct" [alt]="companyproduct.image" class="product-image" *ngIf="companyproduct.image"> -->
        <form [formGroup]="addproductForm">
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" formControlName="name"  autofocus />
            <small  class="p-error" *ngIf="submitted && addproductForm.controls['name'].errors?.['required']">Name is required.</small>
        </div>

    
        <div class="field">
            <label for="link">Link</label>
            <input type="text" pInputText id="link" formControlName="link"  autofocus />
            <small  class="p-error" *ngIf="submitted && addproductForm.controls['link'].errors?.['required']">link is required.</small>
        </div>
        <div class="field">
            <label for="link">Image</label>
            <input type="text" pInputText id="image" formControlName="img"  autofocus />
            <small  class="p-error" *ngIf="submitted && addproductForm.controls['img'].errors?.['required']">Image is required.</small>
        </div>


        <div class="field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea formControlName="desc"  rows="3" cols="20"></textarea>
            <small  class="p-error" *ngIf="submitted && addproductForm.controls['desc'].errors?.['required']">description is required.</small>
        </div>
       
        
        

   
  
      
        <div class="p-field">
            <label class="p-mb-3">active</label>
            <input type="checkbox" formControlName="active" />
            <small  class="p-error" *ngIf="submitted && addproductForm.controls['active'].errors?.['required']">active is required.</small>
        </div> 

        <div class="formgrid grid">
            <div class="field col">
                <label for="price">Price</label>
                <p-inputNumber id="price" formControlName="price" mode="currency" currency="ILS" locale="en-US"></p-inputNumber>
                <small  class="p-error" *ngIf="submitted && addproductForm.controls['price'].errors?.['required']">price is required.</small>
               
            </div>
             
        </div>
    </form>
    </ng-template>
         
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button *ngIf="!add_update" pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="add()"></button>
        <button *ngIf="add_update" pButton pRipple label="update" icon="pi pi-check" class="p-button-text" (click)="update()" ></button>
    </ng-template>
</p-dialog>
<!-- 
<p-dialog header="Product Details" [modal]="true" styleClass="p-fluid">
    <h1>hhhhhhh</h1>
</p-dialog> -->
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


